ahk==0.11.1
asgiref==3.5.1
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
Django==4.0.4
django-cors-headers==3.12.0
djangorestframework==3.13.1
gevent==21.12.0
greenlet==1.1.2
grequests==0.6.0
idna==3.3
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.21.2
opencv-python==4.5.3.56
pycparser==2.21
pytz==2022.1
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.26.9
zope.event==4.5.0
zope.interface==5.4.0
