.bill {
    
    border-radius: 1%;
    border-bottom-style: solid;
    border-bottom-color:grey;
    display:flex;
    flex-direction: column;
}

.bills {
    display:flex;
    flex-direction: column;
    gap: 15px;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.bill-on-day{
    border-top-style: solid;
    background-color:rgba(213, 229, 241, 0.527);

    border-style:solid;
    border-color:rgb(196, 190, 190);
   
    display:flex;
    flex-direction: column;
    gap: 15px;
    padding-left:20px;
    padding-right:20px;
  
    padding-bottom:20px;
   
}
.date-row {

}
.first-row {
    display:inline;
}

.second-row {
    padding-top: 20px;
}

.third-row {
    width: fit-content;
    padding-left:50px;
}

.bill-date {
    font-weight: bold;
    margin:0;
}
.bill-title {
    display:inline;
    font-style:italic;
}

.bill-number {
    display: inline;
    font-weight: bold;
    
}

.bill-rep-name {
    display: inline;
}

.bill-rep-position {
    display: inline;
}
.bill-rep-position-yes {
    font-weight:bold;
    color: rgb(56, 180, 56);
    display: inline;
}
.bill-rep-position-no {
    font-weight:bold;
    color: red;
    display: inline;
}

.bill-question {
    display: inline;
}

.bill-total {
    display: inline;
}
.bill-result {
    display: inline;
}

